:root { 
--gray_50_01:#f8fffb; 
--gray_50_02:#f9f9f9; 
--gray_50_03:#fffbf9; 
--red_800:#c03a2b; 
--red_A100_01:#fb7b76; 
--deep_orange_100_01:#f9bcaa; 
--gray_800_03:#594c4a; 
--gray_800_02:#433735; 
--deep_orange_100_02:#fbc2aa; 
--gray_800_01:#434343; 
--red_400:#cc6144; 
--black_900_01:#1a0400; 
--yellow_800:#f29c1f; 
--indigo_50_01:#ebeaf4; 
--indigo_50_02:#d9e0fc; 
--deep_orange_A700:#e53b07; 
--blue_gray_900_01:#2d2442; 
--deep_orange_500:#ff6529; 
--deep_purple_A200:#9c4df4; 
--blue_gray_900:#3d302a; 
--deep_orange_100:#ffcfbe; 
--red_A200_01:#ff5364; 
--pink_100:#f7c4db; 
--purple_300:#e068bd; 
--teal_A700:#00b59b; 
--gray_900_26:#0a033c26; 
--gray_400:#c1ada4; 
--blue_gray_100:#d9d9d9; 
--amber_500:#ffc107; 
--blue_500:#1d9cfd; 
--gray_800:#424242; 
--amber_100:#f9eab0; 
--orange_600:#f9880d; 
--deep_orange_400_33:#ff665233; 
--black_900_0c:#0000000c; 
--deep_purple_50:#ede8f2; 
--indigo_200:#b1b7e3; 
--cyan_50:#e5fff2; 
--black_900_19:#00000019; 
--gray_700_02:#5a4f72; 
--gray_700_01:#636363; 
--blue_gray_100_01:#d7d7d7; 
--blue_gray_100_02:#d6ced7; 
--red_300:#bc744a; 
--deep_orange_400_87:#ff665287; 
--deep_orange_400_00:#ff655100; 
--gray_50:#f8f2ff; 
--red_50:#fff3f2; 
--white_A700_33:#ffffff33; 
--gray_500_01:#9b8580; 
--yellow_900:#e57e25; 
--gray_500_02:#969696; 
--deep_purple_A100:#be87ef; 
--deep_orange_400_7f:#ff65517f; 
--deep_orange_400:#ff6652; 
--gray_700_99:#5d5a6f99; 
--gray_500:#a1a1a1; 
--amber_400:#f0c419; 
--gray_900:#0a033c; 
--teal_50:#d9e4ef; 
--blue_gray_800_01:#3e4756; 
--gray_100:#f7f4f9; 
--orange_100:#ffdcb6; 
--cyan_100:#bdf4e3; 
--white_A700_b2:#ffffffb2; 
--cyan_A100:#80eeff; 
--light_blue_100:#c2f7ff; 
--red_200:#d58a9c; 
--deep_orange_300:#fe8e68; 
--red_A700:#c60000; 
--gray_600:#7f8284; 
--deep_purple_50_01:#eeebf4; 
--deep_purple_50_03:#eddcff; 
--deep_purple_50_02:#efebf5; 
--blue_gray_300:#95a5a5; 
--red_A200:#fe4a60; 
--gray_900_66:#0a033c66; 
--pink_200_01:#ef8bbd; 
--lime_900:#874c2e; 
--amber_300:#f3d55b; 
--deep_purple_50_04:#f1e5ff; 
--lime_100:#f5efca; 
--gray_400_01:#dbc4bd; 
--gray_100_01:#eff6fe; 
--blue_300:#699dee; 
--white_A700:#ffffff; 
--red_500_01:#ff3333; 
--cyan_A400:#0fdbff; 
--deep_orange_50:#ffded9; 
--light_blue_A200:#3ab4fb; 
--red_500:#e64c3c; 
--deep_purple_100:#cab4ef; 
--red_100:#eed9ce; 
--black_900:#000000; 
--yellow_700:#ffb826; 
--blue_gray_800:#393f4a; 
--pink_200:#efa5b6; 
--deep_purple_A200_01:#954ae9; 
--deep_purple_A200_02:#8434dc; 
--gray_900_02:#56211a; 
--gray_700:#5d5a6f; 
--gray_900_03:#1c1c1b; 
--gray_600_01:#828282; 
--gray_900_87:#0a033c87; 
--red_A100:#ff7579; 
--indigo_50:#e4e2f4; 
--gray_900_00:#0a023c00; 
--blue_600:#3b97d3; 
--gray_900_01:#232323; 
--orange_300:#ffb54a; 
--gray_300:#dedde4; 
--teal_A400:#07e5ca; 
--white_A700_87:#ffffff87; 
--black_900_33:#00000033; 
--gray_900_7f:#0a033c7f; 
}